* {
  box-sizing: border-box;
}

h2 {
  margin: 20px;
}

h3 {
  margin: 20px;
}

h4 {
  margin: 20px;
}

p {
  margin-left: 20px;
}

.grid_1_1 {
  margin: 15px;
  margin-top: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-gap: 15px;
}

.t-shirt_1 {
  margin-top: 90px;
}
